/*顶部*/
  #headerLogo {
    width: 1000px;
    height: 94px;
    margin: 0px auto;
  }
  /*顶部logo*/
  #headerLogo>a{
    display: inline-block;
    height: 100%;
  }
  #headerLogo>a>img {
    width: 250px;
  }
  /*顶部登录注册*/
  #logOrReg {
    float: right;
    line-height: 94px;
    width: 120px;
  }
  #logOrReg>span:last-child {
    border-left: 1px solid black;
  }
  #logOrReg>span>a {
    padding-left: 10px;
    padding-right: 7px;
    transition: color .3s linear;
    font-size: 16px;
    color: black;
  }
  #logOrReg>span>a:hover {
    color: #F08E02;
  }

/*菜单栏*/
  #headerMenu {
    width: 100%;
    height: 60px;
    background: url("../images/headerTop/menu.jpg") no-repeat top center;
    /*opacity: 0.9;*/
  }
  #menu {
    width: 1000px;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /*菜单列表*/
  #menu>ul {
    width: 758px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  #menu>ul>li {
    float: left;
    width: 116px;
    text-align: center;
    height: 100%;
    line-height: 60px;
    font-size: 16px;
  }
  #menu>ul>li>a {
    color: white;
    transition: color .3s ease-in-out 0s;

    width: 100%;
    display: inline-block;
  }
  #menu>ul>li:first-child {
    width: 178px;
    text-align: center;
  }
  #menu>ul>li:first-child>i {
    color: orange;
    float: left;
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 22px;
  }
  #menu>ul>li:first-child>a {
    width: 70%;
    float: left;
  }
  #menu>ul>li>a:hover {
    color: orange;
  }
  /*搜索框*/
  #searchAndPublic {
    width: 240px;
    float: right;
    height: 32px;
  }
  .search_input {
    width: 180px;
    border-radius: 8px;
    height: 100%;
    font-size: 14px;
    vertical-align: top;
    font-family: Serif;
    padding-left: 8px;
    padding-right: 28px;
  }
  .icon-sousuo {
    margin-left: -30px;
    font-size: 25px;
    vertical-align: middle;
    line-height: 34px;
    height: 100%;
    color: #221B11;
  }
  .icon-sousuo:hover {
    cursor: pointer;
  }
  /*发布*/
  #dropDownMenu {
    position: relative;
    margin-left: 16px;
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 45px;
  }
  .icon-add {
    color: white;
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.2s linear;
  }
  /*二级菜单*/
  #dropDownMenu>ul{
    background-color: #222;
    width: 120px;
    right: -40px;
    top: 45px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 20px 0 0 0;
    transition: all .2s ease-in-out;
  }
  #dropDownMenu>ul>li{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    transition: color .3s ease-in-out 0s;
  }
  /*三角尖*/
  #dropDownMenu>ul>li:first-child a:before {
    content: "";
    position: absolute;
    left: 55px;
    top: -6px;
    display: block;
    width: 0;
    border-bottom: 6px solid #222;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  #dropDownMenu>ul>li>a {
    color: white;
  }
  #dropDownMenu>ul>li>a:hover {
    color: orange;
  }
  #dropDownMenu>ul>li>a>i {
    display: inline-block;
    width: 30px;
  }
  #dropDownMenu:hover>.icon-add {
    transform: rotate(90deg);
  }
  /*显示二级*/
  #dropDownMenu:hover ul{
    /*display: block;*/
    opacity: 1;
    /*opacity: 0.9;*/
    z-index: 2;
    visibility: visible;
    margin: 0;
  }
